@model ProjetoCidades.Models.Cidade

<div>

    <h2>Cidade @Model.Nome</h2>

    <hr>


    <p>@Model.Id <br />

    @Model.Nome <br />

    @Model.Estado <br />

    @Model.Habitantes <br />

    </p>

</div>